USE [master]
GO
/****** Object:  Database [dbDysplastic]    Script Date: 22/07/2023 15:32:34 ******/
CREATE DATABASE [dbDysplastic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbDysplastic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DYSPLASTIC\MSSQL\DATA\dbDysplastic.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbDysplastic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.DYSPLASTIC\MSSQL\DATA\dbDysplastic_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbDysplastic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbDysplastic]
GO
/****** Object:  Table [dbo].[tbClientes]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbClientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [varchar](50) NULL,
	[direccion] [varchar](150) NULL,
	[nit] [varchar](17) NULL,
	[dui] [varchar](11) NULL,
	[nrc] [varchar](8) NULL,
	[departamento] [varchar](20) NULL,
	[giro] [varchar](40) NULL,
	[telefono] [varchar](9) NULL,
	[correo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbColorProducto]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbColorProducto](
	[id_color_producto] [int] IDENTITY(1,1) NOT NULL,
	[color] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_color_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbDetalleAgrupado]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbDetalleAgrupado](
	[id_detalle_agrupado] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[suma_cantidades] [int] NOT NULL,
	[codigos_cantidad] [varchar](300) NULL,
	[precio_unitario] [decimal](10, 5) NULL,
	[suma_ventas_gravadas] [decimal](10, 5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_agrupado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbDetallesPedidos]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDetallesPedidos](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[cantidad] [int] NULL,
	[id_precio_producto] [int] NOT NULL,
	[subtotal] [decimal](10, 4) NULL,
	[precio_unitario] [decimal](10, 5) NULL,
	[venta_gravada] [decimal](10, 5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbEmpleados]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbEmpleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_empleado] [varchar](70) NOT NULL,
	[dui] [varchar](10) NOT NULL,
	[telefono] [varchar](9) NULL,
	[fecha_nacimiento] [date] NULL,
	[direccion] [varchar](300) NULL,
	[numero_seguridad_social] [varchar](9) NULL,
	[contacto_emergencia] [varchar](70) NULL,
	[telefono_contacto] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbEstadoPedido]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbEstadoPedido](
	[id_estado_pedido] [int] IDENTITY(1,1) NOT NULL,
	[estado_pedido] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbEstadoProducto]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbEstadoProducto](
	[id_estado_producto] [int] IDENTITY(1,1) NOT NULL,
	[estado_producto] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbEstadoUsuarios]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbEstadoUsuarios](
	[id_estado_usuario] [int] IDENTITY(1,1) NOT NULL,
	[tipo_usuario] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbMarcaProductos]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbMarcaProductos](
	[id_marca_producto] [int] IDENTITY(1,1) NOT NULL,
	[marca_producto] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbPedidos]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbPedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[id_cliente] [int] NOT NULL,
	[total] [decimal](10, 2) NULL,
	[id_estado_pedido] [int] NOT NULL,
	[id_tipo_documento] [int] NOT NULL,
	[iva] [decimal](10, 2) NULL,
	[sumas] [decimal](10, 2) NULL,
	[totalletras] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbPrecioProductos]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPrecioProductos](
	[id_precio_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_producto_final] [int] NOT NULL,
	[precio_producto] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_precio_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbProductos]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbProductos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbProductosFinales]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbProductosFinales](
	[id_producto_final] [int] IDENTITY(1,1) NOT NULL,
	[codigo_producto] [varchar](12) NOT NULL,
	[descripcion_producto] [varchar](150) NULL,
	[id_color] [int] NOT NULL,
	[id_talla] [int] NULL,
	[id_marca] [int] NULL,
	[id_producto] [int] NOT NULL,
	[id_estado_producto] [int] NOT NULL,
	[existencia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto_final] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbTallaProductos]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbTallaProductos](
	[id_talla_producto] [int] IDENTITY(1,1) NOT NULL,
	[talla] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_talla_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbTipoDocumento]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbTipoDocumento](
	[id_tipo_documento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_documento] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbTipoUsuarios]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbTipoUsuarios](
	[id_tipo_usuario] [int] IDENTITY(1,1) NOT NULL,
	[tipo_usuario] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbUsuarios]    Script Date: 22/07/2023 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbUsuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](15) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[tipo_usuario] [int] NOT NULL,
	[estado_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbClientes] ON 

INSERT [dbo].[tbClientes] ([id_cliente], [nombre_cliente], [direccion], [nit], [dui], [nrc], [departamento], [giro], [telefono], [correo]) VALUES (1, N'Daniel Arturo Juárez Mazariego', N'Quezaltepeque', N'9855-566655-554-4', N'66977955-5', N'356555-5', N'La Libertad', N'Venta de calzado', N'7962-9226', N'dinnx247@gmail.com')
SET IDENTITY_INSERT [dbo].[tbClientes] OFF
SET IDENTITY_INSERT [dbo].[tbColorProducto] ON 

INSERT [dbo].[tbColorProducto] ([id_color_producto], [color]) VALUES (1, N'Negro')
INSERT [dbo].[tbColorProducto] ([id_color_producto], [color]) VALUES (2, N'Blanco')
INSERT [dbo].[tbColorProducto] ([id_color_producto], [color]) VALUES (3, N'Amarillo')
SET IDENTITY_INSERT [dbo].[tbColorProducto] OFF
SET IDENTITY_INSERT [dbo].[tbDetallesPedidos] ON 

INSERT [dbo].[tbDetallesPedidos] ([id_detalle], [id_pedido], [cantidad], [id_precio_producto], [subtotal], [precio_unitario], [venta_gravada]) VALUES (2, 1, 100, 1, CAST(50.0000 AS Decimal(10, 4)), NULL, NULL)
INSERT [dbo].[tbDetallesPedidos] ([id_detalle], [id_pedido], [cantidad], [id_precio_producto], [subtotal], [precio_unitario], [venta_gravada]) VALUES (3, 1, 50, 3, CAST(32.5000 AS Decimal(10, 4)), NULL, NULL)
INSERT [dbo].[tbDetallesPedidos] ([id_detalle], [id_pedido], [cantidad], [id_precio_producto], [subtotal], [precio_unitario], [venta_gravada]) VALUES (4, 1, 320, 4, CAST(192.0000 AS Decimal(10, 4)), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbDetallesPedidos] OFF
SET IDENTITY_INSERT [dbo].[tbEstadoPedido] ON 

INSERT [dbo].[tbEstadoPedido] ([id_estado_pedido], [estado_pedido]) VALUES (1, N'Activo')
INSERT [dbo].[tbEstadoPedido] ([id_estado_pedido], [estado_pedido]) VALUES (2, N'Entregado')
INSERT [dbo].[tbEstadoPedido] ([id_estado_pedido], [estado_pedido]) VALUES (3, N'Anulado')
SET IDENTITY_INSERT [dbo].[tbEstadoPedido] OFF
SET IDENTITY_INSERT [dbo].[tbEstadoProducto] ON 

INSERT [dbo].[tbEstadoProducto] ([id_estado_producto], [estado_producto]) VALUES (1, N'Agotado')
INSERT [dbo].[tbEstadoProducto] ([id_estado_producto], [estado_producto]) VALUES (2, N'Baja existencia')
INSERT [dbo].[tbEstadoProducto] ([id_estado_producto], [estado_producto]) VALUES (3, N'En existencia')
SET IDENTITY_INSERT [dbo].[tbEstadoProducto] OFF
SET IDENTITY_INSERT [dbo].[tbMarcaProductos] ON 

INSERT [dbo].[tbMarcaProductos] ([id_marca_producto], [marca_producto]) VALUES (1, N'Sin marca')
INSERT [dbo].[tbMarcaProductos] ([id_marca_producto], [marca_producto]) VALUES (2, N'Melendez')
INSERT [dbo].[tbMarcaProductos] ([id_marca_producto], [marca_producto]) VALUES (3, N'Menitas')
SET IDENTITY_INSERT [dbo].[tbMarcaProductos] OFF
SET IDENTITY_INSERT [dbo].[tbPedidos] ON 

INSERT [dbo].[tbPedidos] ([id_pedido], [fecha], [id_cliente], [total], [id_estado_pedido], [id_tipo_documento], [iva], [sumas], [totalletras]) VALUES (1, CAST(N'2023-07-20' AS Date), 1, CAST(274.50 AS Decimal(10, 2)), 1, 4, NULL, NULL, NULL)
INSERT [dbo].[tbPedidos] ([id_pedido], [fecha], [id_cliente], [total], [id_estado_pedido], [id_tipo_documento], [iva], [sumas], [totalletras]) VALUES (2, CAST(N'2023-07-21' AS Date), 1, CAST(50.00 AS Decimal(10, 2)), 1, 1, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[tbPedidos] ([id_pedido], [fecha], [id_cliente], [total], [id_estado_pedido], [id_tipo_documento], [iva], [sumas], [totalletras]) VALUES (3, CAST(N'2023-07-21' AS Date), 1, CAST(0.00 AS Decimal(10, 2)), 1, 1, CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[tbPedidos] OFF
SET IDENTITY_INSERT [dbo].[tbPrecioProductos] ON 

INSERT [dbo].[tbPrecioProductos] ([id_precio_producto], [id_cliente], [id_producto_final], [precio_producto]) VALUES (1, 1, 1, CAST(0.6000 AS Decimal(10, 4)))
INSERT [dbo].[tbPrecioProductos] ([id_precio_producto], [id_cliente], [id_producto_final], [precio_producto]) VALUES (2, 1, 2, CAST(0.5500 AS Decimal(10, 4)))
INSERT [dbo].[tbPrecioProductos] ([id_precio_producto], [id_cliente], [id_producto_final], [precio_producto]) VALUES (3, 1, 4, CAST(0.5500 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[tbPrecioProductos] OFF
SET IDENTITY_INSERT [dbo].[tbProductos] ON 

INSERT [dbo].[tbProductos] ([id_producto], [nombre_producto]) VALUES (1, N'LA10')
INSERT [dbo].[tbProductos] ([id_producto], [nombre_producto]) VALUES (2, N'EL10')
INSERT [dbo].[tbProductos] ([id_producto], [nombre_producto]) VALUES (3, N'ZICZAC')
SET IDENTITY_INSERT [dbo].[tbProductos] OFF
SET IDENTITY_INSERT [dbo].[tbProductosFinales] ON 

INSERT [dbo].[tbProductosFinales] ([id_producto_final], [codigo_producto], [descripcion_producto], [id_color], [id_talla], [id_marca], [id_producto], [id_estado_producto], [existencia]) VALUES (1, N'LA10N23', N'Suela estilo LA10 en color negro y talla 23', 1, 1, 1, 1, 1, 384)
INSERT [dbo].[tbProductosFinales] ([id_producto_final], [codigo_producto], [descripcion_producto], [id_color], [id_talla], [id_marca], [id_producto], [id_estado_producto], [existencia]) VALUES (2, N'LA10N24', N'Suela estilo LA10 en color negro y talla 24', 1, 2, 1, 1, 1, 0)
INSERT [dbo].[tbProductosFinales] ([id_producto_final], [codigo_producto], [descripcion_producto], [id_color], [id_talla], [id_marca], [id_producto], [id_estado_producto], [existencia]) VALUES (3, N'LA10N25', N'Suela estilo LA10 en color negro y talla 25', 1, 3, 1, 1, 1, 3085)
SET IDENTITY_INSERT [dbo].[tbProductosFinales] OFF
SET IDENTITY_INSERT [dbo].[tbTallaProductos] ON 

INSERT [dbo].[tbTallaProductos] ([id_talla_producto], [talla]) VALUES (1, N'23')
INSERT [dbo].[tbTallaProductos] ([id_talla_producto], [talla]) VALUES (2, N'24')
INSERT [dbo].[tbTallaProductos] ([id_talla_producto], [talla]) VALUES (3, N'25')
SET IDENTITY_INSERT [dbo].[tbTallaProductos] OFF
SET IDENTITY_INSERT [dbo].[tbTipoDocumento] ON 

INSERT [dbo].[tbTipoDocumento] ([id_tipo_documento], [tipo_documento]) VALUES (1, N'Envio')
INSERT [dbo].[tbTipoDocumento] ([id_tipo_documento], [tipo_documento]) VALUES (2, N'CCF')
INSERT [dbo].[tbTipoDocumento] ([id_tipo_documento], [tipo_documento]) VALUES (3, N'Consumidor final')
SET IDENTITY_INSERT [dbo].[tbTipoDocumento] OFF
ALTER TABLE [dbo].[tbDetalleAgrupado]  WITH CHECK ADD  CONSTRAINT [fk_pedido_grupos] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[tbPedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[tbDetalleAgrupado] CHECK CONSTRAINT [fk_pedido_grupos]
GO
ALTER TABLE [dbo].[tbDetallesPedidos]  WITH CHECK ADD  CONSTRAINT [fk_pedido] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[tbPedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[tbDetallesPedidos] CHECK CONSTRAINT [fk_pedido]
GO
ALTER TABLE [dbo].[tbDetallesPedidos]  WITH CHECK ADD  CONSTRAINT [id_precio_producto] FOREIGN KEY([id_precio_producto])
REFERENCES [dbo].[tbPrecioProductos] ([id_precio_producto])
GO
ALTER TABLE [dbo].[tbDetallesPedidos] CHECK CONSTRAINT [id_precio_producto]
GO
ALTER TABLE [dbo].[tbPedidos]  WITH CHECK ADD  CONSTRAINT [fk_id_cliente_pedido] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[tbClientes] ([id_cliente])
GO
ALTER TABLE [dbo].[tbPedidos] CHECK CONSTRAINT [fk_id_cliente_pedido]
GO
ALTER TABLE [dbo].[tbPedidos]  WITH CHECK ADD  CONSTRAINT [fk_id_estado_pedido] FOREIGN KEY([id_estado_pedido])
REFERENCES [dbo].[tbEstadoPedido] ([id_estado_pedido])
GO
ALTER TABLE [dbo].[tbPedidos] CHECK CONSTRAINT [fk_id_estado_pedido]
GO
ALTER TABLE [dbo].[tbPedidos]  WITH CHECK ADD  CONSTRAINT [fk_pedido_tipo_documento] FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[tbTipoDocumento] ([id_tipo_documento])
GO
ALTER TABLE [dbo].[tbPedidos] CHECK CONSTRAINT [fk_pedido_tipo_documento]
GO
ALTER TABLE [dbo].[tbPrecioProductos]  WITH CHECK ADD  CONSTRAINT [fk_cliente_precio] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[tbClientes] ([id_cliente])
GO
ALTER TABLE [dbo].[tbPrecioProductos] CHECK CONSTRAINT [fk_cliente_precio]
GO
ALTER TABLE [dbo].[tbPrecioProductos]  WITH CHECK ADD  CONSTRAINT [fk_id_producto_precio] FOREIGN KEY([id_producto_final])
REFERENCES [dbo].[tbProductosFinales] ([id_producto_final])
GO
ALTER TABLE [dbo].[tbPrecioProductos] CHECK CONSTRAINT [fk_id_producto_precio]
GO
ALTER TABLE [dbo].[tbProductosFinales]  WITH CHECK ADD  CONSTRAINT [fk_id_color] FOREIGN KEY([id_color])
REFERENCES [dbo].[tbColorProducto] ([id_color_producto])
GO
ALTER TABLE [dbo].[tbProductosFinales] CHECK CONSTRAINT [fk_id_color]
GO
ALTER TABLE [dbo].[tbProductosFinales]  WITH CHECK ADD  CONSTRAINT [fk_id_estado] FOREIGN KEY([id_estado_producto])
REFERENCES [dbo].[tbEstadoProducto] ([id_estado_producto])
GO
ALTER TABLE [dbo].[tbProductosFinales] CHECK CONSTRAINT [fk_id_estado]
GO
ALTER TABLE [dbo].[tbProductosFinales]  WITH CHECK ADD  CONSTRAINT [fk_id_marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[tbMarcaProductos] ([id_marca_producto])
GO
ALTER TABLE [dbo].[tbProductosFinales] CHECK CONSTRAINT [fk_id_marca]
GO
ALTER TABLE [dbo].[tbProductosFinales]  WITH CHECK ADD  CONSTRAINT [fk_id_producto_final] FOREIGN KEY([id_producto])
REFERENCES [dbo].[tbProductos] ([id_producto])
GO
ALTER TABLE [dbo].[tbProductosFinales] CHECK CONSTRAINT [fk_id_producto_final]
GO
ALTER TABLE [dbo].[tbProductosFinales]  WITH CHECK ADD  CONSTRAINT [fk_id_talla] FOREIGN KEY([id_talla])
REFERENCES [dbo].[tbTallaProductos] ([id_talla_producto])
GO
ALTER TABLE [dbo].[tbProductosFinales] CHECK CONSTRAINT [fk_id_talla]
GO
ALTER TABLE [dbo].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [fk_estado_usuario] FOREIGN KEY([estado_usuario])
REFERENCES [dbo].[tbEstadoUsuarios] ([id_estado_usuario])
GO
ALTER TABLE [dbo].[tbUsuarios] CHECK CONSTRAINT [fk_estado_usuario]
GO
ALTER TABLE [dbo].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [fk_id_empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[tbEmpleados] ([id_empleado])
GO
ALTER TABLE [dbo].[tbUsuarios] CHECK CONSTRAINT [fk_id_empleado]
GO
ALTER TABLE [dbo].[tbUsuarios]  WITH CHECK ADD  CONSTRAINT [fk_tipo_usuario] FOREIGN KEY([tipo_usuario])
REFERENCES [dbo].[tbTipoUsuarios] ([id_tipo_usuario])
GO
ALTER TABLE [dbo].[tbUsuarios] CHECK CONSTRAINT [fk_tipo_usuario]
GO
USE [master]
GO
